<header>
    <nav class="navbar  navbar-static-top application-navbar" ng-controller="NavbarCtrl">
        <div class="container-fluid" >
            <div class="navbar-header">
                <button type="button" class="navbar-toggle"  data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span  class="icon-bar"></span>
                    <span  class="icon-bar"></span>
                </button>
                <a ui-sref="/" class="navbar-brand" >Social Media Connector</a>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a style="color:#666" href="/login">Login</a></li>
                </ul>

            </div>
        </div>
    </nav>
</header>
